{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statutannonces list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statutAnnonce in statutAnnonces %}
            <tr>
                <td><a href="{{ path('statutannonce_show', { 'id': statutAnnonce.id }) }}">{{ statutAnnonce.id }}</a></td>
                <td>{{ statutAnnonce.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('statutannonce_show', { 'id': statutAnnonce.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('statutannonce_edit', { 'id': statutAnnonce.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('statutannonce_new') }}">Create a new statutAnnonce</a>
        </li>
    </ul>
{% endblock %}
