    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Theme Region">
        <meta name="description" content="">

        <title>{% block title %} Trade | World's Largest Classifieds Portal {% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css', 'avatars') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css', 'avatars') }}">
        <link rel="stylesheet" href="{{ asset('css/icofont.css', 'avatars') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css', 'avatars') }}">
        <link rel="stylesheet" href="{{ asset('css/slidr.css', 'avatars') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css', 'avatars') }}">
        <link id="preset" rel="stylesheet" href="{{ asset('css/presets/preset1.css', 'avatars') }}">
        <link rel="stylesheet" href="{{ asset('css/responsive.css', 'avatars') }}">


        <!-- font -->
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>

        <!-- icons -->
        <link rel="icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png', 'avatars') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png', 'avatars') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="{{ asset('images/ico/apple-touch-icon-72--precomposed.png', 'avatars') }}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57"   href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png', 'avatars') }}">
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ThemeRegion -->
    </head>
    <body>
    <!-- header -->
    <header id="header" class="clearfix">
        <!-- navbar -->
            {% include '@Annonce/Default/menu.html.twig' %}
        <!-- navbar -->
    </header><!-- header -->

    <!-- main -->
    <section id="main" class="clearfix published-page">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="congratulations">
                        <i class="fa fa-check-square-o"></i>
                        <h2>F&eacute;licitation !</h2>

                        {% for flash_message in app.session.flashBag.get('succe') %}
                            <div class="flash-notice">
                                <h4>  {{ flash_message }} </h4>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- main -->

    <!-- footer -->

        {% include '@Annonce/Default/footer.html.twig' %}

    </body>
    </html>